/* Try adding a css reset to see if it get rid of the leftover grey color stuff. Looks like it's working.*/

body {
  background-color: silver;
}

.top {
  background-color: white;
}

/* Links to the other pages */
.link1,
.link2,
.link3 {
  float: right;

}
.link1 {
  position: relative;
  right: 475px;
}

.link2 {
  position: relative;
  right: 330px;
}

.link3 {
  position: relative;
  right: 185px;
}
/* Where my name is */
header {
  background-color: rgb(92, 219, 177);
  width: 120px;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  position: relative;
  left: 300px;
}
/* That area in the html where I say stuff about myself. */
.content {
  background: white;
  position: relative;
  left: 300px;
  width: 960px;
  margin-top: 20px;
}

.pic {
  position: relative;
  left: 10px;
}

#bio {
 
}

h1 {
  color: rgb(92, 219, 177);
  font-size: 30px;
  font-weight: bold;
  position: relative;
  left: 20px;
}

.footer {
  text-align: center;
  background-color: rgba(5, 5, 5, 0.568);
  color: white;
  margin-top: 175px;
  height: 100px;
}